<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2>Forgot Password</h2>
    <p>Enter your Gmail to receive a verification code.</p>

    <form (ngSubmit)="sendCode()" #forgotForm="ngForm">
      <input 
        type="email" 
        name="email" 
        class="email-input full-width" 
        placeholder="Enter your Gmail" 
        required
        [(ngModel)]="email">
      
      <button type="submit" class="secondary-button full-width">Send Code</button>
    </form>
    

    <p class="back-to-login">
      Remember your password? 
      <span (click)="navigateTo('login')">Back to Login</span>
    </p>
  </div>
</div>
