<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2>Forgot Password</h2>
    <p>Enter your Gmail to receive a verification code.</p>

    <form action="verify-code.html" method="get">
      <input type="email" name="email" class="email-input full-width" placeholder="Enter your Gmail" required>
      <button (click)="navigateTo('forgotpasswordcode')" class="secondary-button full-width">Send Code</button>
    </form>

    <p class="back-to-login">
      Remember your password? <span (click)="navigateTo('login')">Back to Login</span>
    </p>
  </div>
</div>