<form>
    <div class="code-container">
      <input type="text" maxlength="1" class="code-input" required>
      <input type="text" maxlength="1" class="code-input" required>
      <input type="text" maxlength="1" class="code-input" required>
      <input type="text" maxlength="1" class="code-input" required>
      <input type="text" maxlength="1" class="code-input" required>
      <input type="text" maxlength="1" class="code-input" required>
    </div>
    <br><br>
    <button (click)="navigateTo('login')" class="secondary-button"> verify</button>
  </form>
