<div class="verification-container">
  <div class="verification-card">
    <h2>Enter Verification Code</h2>
    <p>Please enter the 6-digit verification code.</p>
    
    <form>
      <div class="code-container">
        <input type="text" maxlength="1" class="code-input" required>
        <input type="text" maxlength="1" class="code-input" required>
        <input type="text" maxlength="1" class="code-input" required>
        <input type="text" maxlength="1" class="code-input" required>
        <input type="text" maxlength="1" class="code-input" required>
        <input type="text" maxlength="1" class="code-input" required>
      </div>
      
      <button (click)="navigateTo('profilecode')" class="secondary-button">Verify</button>
    </form>
  </div>
</div>